<div class="tab active" data-tab="general">
    <form autocomplete="off" class="hide-player-ui settings-form">

        <div class="form-group">
            <label>{{localize "hide-player-ui.settings-form.hide-logo.label"}}</label>
            <input type="checkbox" name="hideLogo" data-dtype="Boolean" {{checked hideLogo}}/>
            <p class="notes">{{localize "hide-player-ui.settings-form.hide-logo.notes"}}</p>
        </div>

        <div>
            <div class="form-group">
                <label>{{localize "hide-player-ui.settings-form.hide-navigation.complete.label"}}</label>
                <input type="checkbox" name="hideNavigation.complete" data-dtype="Boolean" {{checked hideNavigation.complete}}/>
                <p class="notes">{{localize "hide-player-ui.settings-form.hide-navigation.complete.notes"}}</p>
            </div>

            <p class="notes notes-second-line">{{localize "hide-player-ui.settings-form.hide-navigation.sub-options-label"}}</p>

            <div class="sub-option-grouping">
                <div class="form-group">
                    <label>{{localize "hide-player-ui.settings-form.hide-navigation.navToggle.label"}}</label>
                    <input type="checkbox" name="hideNavigation.navToggle" data-dtype="Boolean" {{checked hideNavigation.navToggle}}/>
                </div>

                <div class="form-group">
                    <label>{{localize "hide-player-ui.settings-form.hide-navigation.sceneList.label"}}</label>
                    <input type="checkbox" name="hideNavigation.sceneList" data-dtype="Boolean" {{checked hideNavigation.sceneList}}/>
                </div>

                {{#if renderBossBarOption}}
                    <div class="form-group">
                        <label>{{localize "hide-player-ui.settings-form.hide-navigation.bossBar.label"}}</label>
                        <input type="checkbox" name="hideNavigation.bossBar" data-dtype="Boolean" {{checked hideNavigation.bossBar}}/>
                    </div>
                {{/if}}
            </div>
        </div>

        <div class="form-group">
            <label>{{localize "hide-player-ui.settings-form.hide-controls.label"}}</label>
            <input type="checkbox" name="hideControls" data-dtype="Boolean" {{checked hideControls}}/>
            <p class="notes">{{localize "hide-player-ui.settings-form.hide-controls.notes"}}</p>
        </div>

        <div>
            <div class="form-group">
                <label>{{localize "hide-player-ui.settings-form.hide-sidebar.complete.label"}}</label>
                <input type="checkbox" name="hideSideBar.complete" data-dtype="Boolean" {{checked hideSideBar.complete}}/>
                <p class="notes">{{localize "hide-player-ui.settings-form.hide-sidebar.complete.notes"}}</p>
            </div>

            <p class="notes notes-second-line">{{localize "hide-player-ui.settings-form.hide-sidebar.sub-options-label"}}</p>

            <div class="sub-option-grouping">
                <div class="form-group">
                    <label>{{localize "hide-player-ui.settings-form.hide-sidebar.chatLog.label"}}</label>
                    <input type="checkbox" name="hideSideBar.chatLog" data-dtype="Boolean" {{checked hideSideBar.chatLog}}/>
                </div>

                <div class="form-group">
                    <label>{{localize "hide-player-ui.settings-form.hide-sidebar.combatTracker.label"}}</label>
                    <input type="checkbox" name="hideSideBar.combatTracker" data-dtype="Boolean" {{checked hideSideBar.combatTracker}}/>
                </div>

                <div class="form-group">
                    <label>{{localize "hide-player-ui.settings-form.hide-sidebar.scenesDirectory.label"}}</label>
                    <input type="checkbox" name="hideSideBar.scenesDirectory" data-dtype="Boolean" {{checked hideSideBar.scenesDirectory}}/>
                </div>

                <div class="form-group">
                    <label>{{localize "hide-player-ui.settings-form.hide-sidebar.actorsDirectory.label"}}</label>
                    <input type="checkbox" name="hideSideBar.actorsDirectory" data-dtype="Boolean" {{checked hideSideBar.actorsDirectory}}/>
                </div>

                <div class="form-group">
                    <label>{{localize "hide-player-ui.settings-form.hide-sidebar.itemsDirectory.label"}}</label>
                    <input type="checkbox" name="hideSideBar.itemsDirectory" data-dtype="Boolean" {{checked hideSideBar.itemsDirectory}}/>
                </div>

                <div class="form-group">
                    <label>{{localize "hide-player-ui.settings-form.hide-sidebar.journalEntries.label"}}</label>
                    <input type="checkbox" name="hideSideBar.journalEntries" data-dtype="Boolean" {{checked hideSideBar.journalEntries}}/>
                </div>

                <div class="form-group">
                    <label>{{localize "hide-player-ui.settings-form.hide-sidebar.rollableTables.label"}}</label>
                    <input type="checkbox" name="hideSideBar.rollableTables" data-dtype="Boolean" {{checked hideSideBar.rollableTables}}/>
                </div>

                <div class="form-group">
                    <label>{{localize "hide-player-ui.settings-form.hide-sidebar.cardStacks.label"}}</label>
                    <input type="checkbox" name="hideSideBar.cardStacks" data-dtype="Boolean" {{checked hideSideBar.cardStacks}}/>
                </div>

                <div class="form-group">
                    <label>{{localize "hide-player-ui.settings-form.hide-sidebar.audioPlaylists.label"}}</label>
                    <input type="checkbox" name="hideSideBar.audioPlaylists" data-dtype="Boolean" {{checked hideSideBar.audioPlaylists}}/>
                </div>

                <div class="form-group">
                    <label>{{localize "hide-player-ui.settings-form.hide-sidebar.compendiumPacks.label"}}</label>
                    <input type="checkbox" name="hideSideBar.compendiumPacks" data-dtype="Boolean" {{checked hideSideBar.compendiumPacks}}/>
                </div>

                <div class="form-group">
                    <label>{{localize "hide-player-ui.settings-form.hide-sidebar.gameSettings.label"}}</label>
                    <input type="checkbox" name="hideSideBar.gameSettings" data-dtype="Boolean" {{checked hideSideBar.gameSettings}}/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>{{localize "hide-player-ui.settings-form.hide-players.label"}}</label>
            <input type="checkbox" name="hidePlayers" data-dtype="Boolean" {{checked hidePlayers}}/>
            <p class="notes">{{localize "hide-player-ui.settings-form.hide-players.notes"}}</p>
        </div>

        <div class="form-group">
            <label>{{localize "hide-player-ui.settings-form.hide-hotbar.label"}}</label>
            <input type="checkbox" name="hideHotbar" data-dtype="Boolean" {{checked hideHotbar}}/>
            <p class="notes">{{localize "hide-player-ui.settings-form.hide-hotbar.notes"}}</p>
        </div>

        <div class="form-group">
            <label>{{localize "hide-player-ui.settings-form.hide-player-config.label"}}</label>
            <input type="checkbox" name="hidePlayerConfig" data-dtype="Boolean" {{checked hidePlayerConfig}}/>
            <p class="notes">{{localize "hide-player-ui.settings-form.hide-player-config.notes"}}</p>
        </div>

        <div class="form-group">
            <label>{{localize "hide-player-ui.settings-form.hide-token-hud.label"}}</label>
            <input type="checkbox" name="hideTokenHUD" data-dtype="Boolean" {{checked hideTokenHUD}}/>
            <p class="notes">{{localize "hide-player-ui.settings-form.hide-token-hud.notes"}}</p>
        </div>

        {{#if renderTokenActionHudOption}}
            <div class="form-group">
                <label>{{localize "hide-player-ui.settings-form.hide-token-action-hud.label"}}</label>
                <input type="checkbox" name="hideTokenActionHUD" data-dtype="Boolean" {{checked hideTokenActionHUD}}/>
                <p class="notes">{{localize "hide-player-ui.settings-form.hide-token-action-hud.notes"}}</p>
            </div>
        {{/if}}
        
        {{#if renderCustomHotbarOption}}
            <div class="form-group">
                <label>{{localize "hide-player-ui.settings-form.hide-custom-hotbar.label"}}</label>
                <input type="checkbox" name="hideCustomHotbar" data-dtype="Boolean" {{checked hideCustomHotbar}}/>
                <p class="notes">{{localize "hide-player-ui.settings-form.hide-custom-hotbar.notes"}}</p>
            </div>
        {{/if}}

        <div class="warning-note">
            <p>{{localize "hide-player-ui.settings-form.refresh-player-sessions"}}</p>
        </div>

        <div class="form-group" style="margin: 10px;">
            <button type="submit" name="submit">
                <i class="fas fa-save"></i> {{localize "hide-player-ui.settings-form.save"}}
            </button>
            <button type="button" name="reset">
                <i class="fas fa-undo"></i> {{localize "hide-player-ui.settings-form.reset"}}
            </button>
        </div>
    </form>
</div>