.hide-player-ui-hidden {
    display: none !important;
}

.hide-player-ui.setting-form .form-group {
    margin-bottom: 0.75rem;
}

.hide-player-ui.setting-form .warning-note {
    text-align: center;
    width: 350px;
    margin: 0 auto;
}